body{
    box-sizing: border-box;
    font-family: inter, san-serif;
    

}

root {
    --border: 1px solid black;

}

.container{
    
    display:flex;
    width: 550px;
    height: auto;
    background-color: rgb(237, 189, 17);
}

.img-el {
    float: left;
    shape-outside: ellipse(160px 100px);
    width: 250px;
    height: 250px;
    background: pink;
}
.img-el:hover {
    width: 550px;
    height: 500px;
    transition:all 1s ease-in;
    /* object-position: bottom left;
    object-fit: contain; */
}

.info-container{
background-color: greenyellow;
margin: 10px;
width:270px ;
height:auto ;
}