body{
  box-sizing: border-box;

}

#root{
  width: 550px;
  height: 868px;
  background: #23252C;
}

.photo-el{
  position: absolute;
  width: 317px;
  height: 317px;
  left: 117px;
  top: 49px;

  background: url(./images/photo.png);
  border-radius: 10px 10px 0px 0px;
}

.main-el{
  position: absolute;
  width: 318px;
  height: fit-content;
  left: 116px;
  top: 361px;
  background: #F5F5F5;
}
.name-el{
width: 178.06px;
height: 25.81px;
left: 186px;
top: 381px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;
margin: 20px auto 0 auto;
color: #2B283A;
}

.occupation-el{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  margin:6px auto 0px auto;
  color: #F47D27;
}

.web-el {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #4A4E74;
  margin-top: 6.81px;
}

button{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.email-btn{
  border: 1px solid #D1D5DB;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}